equipos {
    background: cadetblue;
    height: 1500px;
    width: 1800px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

equipo {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        background: #889ccf;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        border-radius: 35px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
        border: 2px solid #5878ca
}

p {
    font-weight: bold;
}

gt::before {
    content: "GT ";
}

gd::before {
    content: "GD ";
}

gl::before {
    content: "GL ";
}

coordinador::after {
    content: " (Coordinador) ";
}

actividad {
    display: list-item;

}

actividad::before {
    content: "Actividad: ";
}

profesor {
    display: list-item;
}

profesor::before {
    content: "Encargado: ";
}


coordinador {
    color: brown;
    font-weight: bold;
    font-size: large;
    display: inline;
    margin-right: 10px;
    display: list-item;
}

integrante1 {
    display: list-item;
}

integrante2 {
    display: list-item;
}

integrante3 {
    display: list-item;
}

materia {
    font-weight: bold;

}

materia::before {
    content: "Materia: ";
}

.boton {
    padding: 4px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    width: 60px;
    height: 20px;
}